<app-nav></app-nav>

<div class="my-container">
  <h1 class="heading-h1">Piotr Liszka - Junior Front-End Developer</h1>
  <p class="about-me">
    Interesuję się programowaniem od 2020 roku do teraz i w tym czasie
    poszerzałem swoją wiedzę kursami oraz informacjami w internecie. Zajmuję się
    programowaniem w JavaScript, Angular, TypeScript, HTML, SCSS, pracuję ze
    zdalnym repozytorium Git i GitHub. Jestem dyspozycyjny i chętnie podejmę się
    nowych wyzwań zawodowych. W pracy doceniam pozytywną atmosferę, pomoc i
    punktualność.
  </p>

  <router-outlet></router-outlet>

  <div class="link-container">
    <a
      class="github-link"
      target="_blank"
      href="https://github.com/PiotrLiszka1"
      ><img class="github-img" src="../../assets/github.svg" alt="" /> piotr
      github</a
    >
  </div>
</div>
