@use "../variables.scss" as c;

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 10px;
  min-height: 80px;
  margin-bottom: 20px;
  background-color: c.$mcolor;
  margin: 10px auto;

  &__link {
    width: 100%;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    margin: 5px;
    transition: box-shadow 0.6s, background-color 0.6s;
  }

  &__link:hover {
    background-color: c.$hoverColor;
  }

  //class for active link
  .active {
    box-shadow: 0px 0px 2px 1px rgb(212, 209, 16);
  }
}
@media (min-width: 576px) {
  .nav {
    &__link {
      width: 40%;
      margin-left: 10px;
    }
  }
}
@media (min-width: 900px) {
  .nav {
    justify-content: flex-start;
    width: 100%;

    &__link {
      width: auto;
      margin-left: 10px;
    }
  }
}
